* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(193, 233, 213);
    font-family: 'Josefin Sans', sans-serif;
}
.container img {
    width: 90px;
    height: 50px;
}
.navbar {
    padding: 0px;
    background-color: rgb(10, 94, 59);
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar-brand span {
    color: red
}
.nav-item a {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.nav-item a:hover {
    color: rgb(40, 179, 172);
}
.dropdown-menu {
    background-color:  rgb(40, 179, 172, .5);
}
#main_page{
    background-image: url(assets/images/main_page_pic2.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
}
.main_page .row .col {
    margin: 100px 40px 40px 40px;
    padding: 30px;
}
.container .col {
    background-color: rgb(236, 162, 51, .8);
    padding: 0px;
    margin: 0px;
    width: 40%;
    color: white;
    text-align: left;
}
.main_page_btn {
    padding: 10px;
    color : white;
    background-color: rgb(40, 179, 172);
    border-color: white;
}
.main_page_btn:hover {
    background-color: none;
}
.intro .row {
    background-color: rgb(40, 179, 172);
}
.intro .btn {
    background-color: rgb(236, 162, 51);
}
.btn1:hover {
    background-color: rgb(40, 179, 172) ;
}
.btn2:hover {
    background-color: rgb(40, 179, 172);
}
.products .container {    
    text-align: center;
}
.card {
    background-color: rgba(255, 255, 255, .5);
}
.card img {
    width: 100%;
    height: 396px;
}
.card-img-overlay {
    display: flex;
    flex-direction: column;
}
.products .btn {
    margin-top: auto;
    align-self: flex-start;
    background-color: rgb(236, 162, 51);
    color: black;
}
.products .btn:hover {
    background-color: #fff;
    border-color: rgb(236, 162, 51);
}
.carousel {
    margin: 0px;
    width: 85%;
}
.carousel-item {
    height: 500px;
}
.c-img {
    height: 100%;
    object-fit: cover;
}
.col {
    display: auto;
}
.phrase .container {
    background-color: rgb(235, 184, 108, .7);
}
.phrase h4 {
    font-weight: bold;
    color: rgb(238, 126, 22);
}
.footer {
    width: 100%;
    background-color: rgb(10, 94, 59);
    text-align: center;
}
.fa {
    padding: 15px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-skype {
    background: #00aff0;
    color: white;
}
.footer .info {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}
.title_sec {
    background-color: rgb(236, 162, 51, .8);
}
.banner a {
    background-color: rgb(236, 162, 51, 8);
}
.banner .btn {
    background-color: rgb(236, 162, 51); 
}
.banner .btn:hover {
    background-color: #fff;
    border-color: rgb(236, 162, 51, .6);
}
.form-control {
    border-radius: 0px;
    border-color: rgb(118, 118, 118);
}